{% extends 'base.html'%}

{% block body %}
{% if custom_css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detections.css')}}">
{% endif%}
<div class="all">
    <div class="header">
        <div class="container row justify-content-center align-items-center">
            <div class="col col-lg-4 ">
                <img src="{{ url_for('static',filename='img/logo.png') }}" class="img">
            </div>
            <h1 class=" col col-lg-1  text-center">UDJAT</h1>
        </div>
    </div>
    <div class="container ">
        <span class="line"></span>
        <div class="cards row">
            {% for image in images %}
                <div class="card col-6 ">
                    <div class="row">
                        <div class=" col-md-6">
                            <!-- <img src="../static/img/udjat.png" class="img-fluid rounded-start" width="250px" height="100px"> -->
                            <img src="{{ image }}" alt="" class="cardimg rounded-start img-fluid">
                        </div>
                        <div class="text col-md-6 card-body">
                            <h1>person</h1>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, enim.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!--            <div class="card col-6 ">-->
            <!--                <div class="row">-->
            <!--                    <div class="img col-md-4">-->
            <!--                        <img src="../static/img/udjat.png" class="img-fluid rounded-start" width="250px" height="100px">-->
            <!--                    </div>-->
            <!--                    <div class="text col-md-8 card-body">-->
            <!--                        <h1>person</h1>-->
            <!--                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, enim.</p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card col-6">-->
            <!--                <div class="row ">-->
            <!--                    <div class="img col-md-4">-->
            <!--                        <img src="../static/img/udjat.png" class="img-fluid rounded-start" width="100px" height="100px">-->
            <!--                    </div>-->
            <!--                    <div class="text col-md-8 card-body">-->
            <!--                        <h1>person</h1>-->
            <!--                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, enim.</p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card col-6">-->
            <!--                <div class="row ">-->
            <!--                    <div class="img col-md-4">-->
            <!--                        <img src="../static/img/udjat.png" class="img-fluid rounded-start" width="100px" height="100px">-->
            <!--                    </div>-->
            <!--                    <div class="text col-md-8 card-body">-->
            <!--                        <h1>person</h1>-->
            <!--                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, enim.</p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card col-6">-->
            <!--                <div class="row ">-->
            <!--                    <div class="img col-md-4">-->
            <!--                        <img src="../static/img/udjat.png" class="img-fluid rounded-start" width="100px" height="100px">-->
            <!--                    </div>-->
            <!--                    <div class="text col-md-8 card-body">-->
            <!--                        <h1>person</h1>-->
            <!--                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, enim.</p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
    
    
        </div>
    </div>
    
</div>
<script src="static/js/detections.js"></script>
    <script>
        let imgs=document.querySelectorAll(".cardimg")
        console.log(imgs.length)
        console.log(images.length)
    </script>
{% endblock %}