{% extends 'base.html'%}

{% block body %}
{% if custom_css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
{% endif%}
<!-- firebase fire stor db -->
<div class="allele">
    <!-- <div class="header">
        <div class="container row justify-content-center align-items-center">
            <div class="col col-lg-4 ">
                <img src="{{ url_for('static',filename='img/logo.png') }}" class="img">
            </div>
            <h1 class=" col col-lg-1  text-center ">UDJAT</h1>
        </div>
    </div> -->
    <div class="container2 ">
        <!-- <div class="forminfo"> -->
        <div class=" ">
            <h1 class="text-center text " >UDJAT</h1>
            <div class="form-group ">
                <div class="inputs ">
                    <form action="" method="post" class="">
                        <h6 class="text-center text mb-3">The Eye Always Watch</h3>
                        <!-- <h3 class="mb-3 text text-center">log in</h3> -->
                        <input type="email" placeholder="username" name="email" class="form-control mb-2 input">
                        <input type="password" placeholder="password" name="password"class="form-control mt-2 mb-2 input">
                        <button type="submit" class="btn input">log in</button>
                    </form>
                </div>
            </div>

        </div>
        <!-- </div> -->
    </div>
</div>

{% if message %}
<script>
    alert("{{ message }}");
</script>
{% endif %}

{% endblock %}